<form class="form-container" [formGroup]="addIngredientForm" (ngSubmit)="onSubmit()">
  <h1>Add new ingredient</h1>

  <mat-form-field>
    <mat-label>Name</mat-label> <input matInput formControlName="name">
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Summary</mat-label> <input matInput formControlName="summary">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" formControlName="description"></textarea>
  </mat-form-field>

  <button mat-flat-button color="accent" type="submit">Add</button>
</form>
